<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ProjectionProbeActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MapViewActivity"
            android:exported="true" />
        <activity
            android:name=".MiniMapActivity"
            android:exported="true" />
        <activity
            android:name=".MapTbtActivity"
            android:exported="true" />
        <activity
            android:name=".ProjectionCommandActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:theme="@style/InvisibleTheme" />
        <activity
            android:name=".DashPresentationActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:theme="@style/InvisibleTheme" />
        <activity
            android:name=".DashCameraActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:theme="@style/InvisibleTheme" />
        <activity
            android:name=".AvcAidlDashActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/InvisibleTheme" />
        <activity
            android:name=".AvcTurnSignalMonitorActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:theme="@style/InvisibleTheme" />
        <activity
            android:name=".AvcPipHookActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/InvisibleTheme" />
        <activity
            android:name=".DiShareProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:theme="@style/InvisibleTheme" />
        <activity
            android:name=".HudImageActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".HudDiShareActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/InvisibleTheme" />
        <activity
            android:name=".HudSomeIpProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:theme="@style/InvisibleTheme" />
        <activity
            android:name=".MediaStreamProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:theme="@style/InvisibleTheme" />

        <service
            android:name=".ProjectionCommandService"
            android:exported="true" />
        <service
            android:name=".AvcTurnSignalMonitorService"
            android:exported="true" />
        <service
            android:name=".SideCameraOverlayMonitorService"
            android:exported="true"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".SideCameraBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ProjectionCommandReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.byd.cluster.projection.mapdemo.COMMAND" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DiShareProbeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.byd.cluster.projection.mapdemo.DISHARE_COMMAND" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
