[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = .ansible/collections
remote_user = dmitry
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
